* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
header {
  display: flex;
  justify-content: center;
  width: 100%;
}
.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 40px 0;
  /* outline: 2px dotted; */
}
.workwise {
  display: flex;
  align-items: center;
  font-family: "inter";
  font-weight: 700;
  font-size: 40px;
  padding-left: 140px;
}
.workwise a {
  text-decoration: none;
  color: black;
}
.workwise p {
  margin-left: 20px;
}
.icons {
  display: flex;
  align-items: center;
  padding-right: 140px;
}
.icons > div {
  margin-right: 15px;
}
.input-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 0 160px;
}
.search {
  width: 100%;
  margin: 50px 0 50px 0;
  border: 1px solid black;
  border-radius: 62px;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 0 25px 0 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 60px;
  position: relative;
}
.search input {
  width: 65%;
  font-family: "firaGO";
  font-size: 32px;
  font-weight: 200;
  border: none;
  margin-left: 15px;
}
.filter::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 87px;
  background-color: rgba(0, 0, 0, 0.4);
  vertical-align: middle;
  margin-left: 10px;
}
.input-text {
  font-family: "firaGO";
  font-size: 32px;
  margin: 0 10px 0 10px;
}
.bold-search {
  margin-left: auto;
}
.bold-search::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 87px;
  background-color: rgba(0, 0, 0, 0.4);
  vertical-align: middle;
  margin-right: 10px;
}
.bold-search {
  display: flex;
}
.filter {
  display: flex;
}
.filter:hover {
  cursor: pointer;
}
.container {
  width: 100%;
  display: flex;
  padding: 0 140px;
  justify-content: center;
}
.talents-wrapper {
  width: 100%;
  display: flex;
  /* grid-template-columns: repeat(4, auto); */
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px 30px;
  margin-bottom: 100px;
}
@media (max-width: 1260px) {
  .container {
    padding: 0 110px;
  }
}
@media (max-width: 1025px) {
  .container {
    padding: 0 20px;
    margin: 0 auto;
  }
  .talents-wrapper {
    padding: 0 10px;
    justify-content: space-evenly;
  }
  .talent {
  }
  .light-text p {
    font-size: 10px;
  }
  .workwise {
    padding-left: 30px;
  }
  .icons {
    padding-right: 30px;
  }
  .dropdawn-box {
    margin: 0 auto;
    padding: 0 30px;
  }
  .dropdawn-box .light-text {
    display: none;
  }
  .input-container {
    padding: 0 50px;
  }
}
@media (max-width: 883px) {
  .bold-search {
    display: none;
  }
}
@media (max-width: 768px) {
  .category-wrapper {
  }
  .workwise {
    padding-left: 10px;
  }
  .icons {
    padding-right: 10px;
  }
  .input-container {
    padding: 0 30px;
  }
}
@media (max-width: 390px) {
  .click-to-drop img {
    display: none;
  }
  .filter-block {
    width: none;
  }
  .filter-block .category p {
    font-size: 10px;
  }
  .workwise p {
    display: none;
  }
  .dropdawn-box p {
    display: none;
  }
  .dropdawn-box {
    padding: 0;
    margin: 0 auto;
  }
}
.talent {
  padding: 10px;
  border: 1px solid black;
  border-radius: 30px;
  font-family: "inter";
}
.talent-image {
  /* width: 340px; */
  height: 284px;
  position: relative;
  object-fit: cover;
  margin: auto;
  margin-top: 15px;
}
.talent-image img:first-child {
  width: 100%;
}
.talent-image :last-child {
  position: absolute;
  top: 30px;
  right: 30px;
}
.salary {
  margin: 0 auto;
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
}
.salary p:first-child {
  font-size: 14px;
  font-family: "inter";
  font-weight: 700;
}
.salary p:last-child {
  font-size: 18px;
  font-weight: 300;
}
.salary p span {
  font-weight: 800;
}
.rating p:first-child {
  font-size: 14px;
  font-weight: 300;
}
.rating p:first-child::after {
  content: "tbilisi";
  display: inline-block;
  font-size: 10px;
  font-weight: 200;
  margin-left: 5px;
}
.rating {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 10%;
}
.star {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.send-message {
  display: flex;
  width: 225px;
  margin: 0 auto;
  padding-bottom: 25px;
  font-weight: 400;
}
.send-message button {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #087dbf;
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding: 15px;
  border-radius: 25px;
  border: none;
  align-items: center;
  font-family: "inter";
  animation-duration: 0.5s;
  animation-delay: 0.4;
  transition-timing-function: ease;
}
.send-message button:hover {
  cursor: pointer;
  background-color: rgb(148, 148, 237);
  color: black;
  scale: 1.05;
}
.send-message button p {
  margin-left: 10px;
}
.talent-dropdawn {
  display: flex;
  align-items: center;
  width: 29%;
  position: relative;
  /* display: none; */
}
.click-to-drop {
  display: flex;
  align-items: center;
  width: 100%;
}
.click-to-drop:hover {
  cursor: pointer;
}
.talent-content {
  position: absolute;
  top: 63px;
  z-index: 1;
  border-radius: 0 0 20px 20px;
  opacity: 0;
  width: 100%;
}
.dropdawn-box {
  display: flex;
  border: 1px solid black;
  align-items: center;
  background-color: white;
}
.dropdawn-box:hover {
  background-color: #087dbf;
  cursor: pointer;
}
.dropdawn-box:hover .light-text {
  color: white;
}
.dropdawn-box:last-child {
  border-radius: 0 0 20px 20px;
}
.dropdawn-box img {
  padding: 25px 20px;
}
.light-text {
  font-size: 13px;
  color: #929292;
  font-family: "inter";
  padding-top: 10px;
}
.dropdawn-bold-text {
  font-size: 16px;
  font-weight: 700;
  font-family: "inter";
}
.filter-block {
  width: 65%;
  background-color: white;
  position: absolute;
  top: 100px;
  z-index: 1;
  border-radius: 20px;
  border: 1px solid black;
  opacity: 0;
  display: none;
}
.category-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px 10px;
  padding: 15px;
}
.category-wrapper p {
  font-size: 20px;
  font-family: "firaGO";
}
.category {
  border: 1px solid #087dbf;
  padding: 5px;
  border-radius: 10px;
}
.category:hover {
  cursor: pointer;
}
.price-range {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
}
input[type="range"] {
  background-color: #ddd;
  width: 80%;
  margin: 20px 0;
}
.ratings-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px 15px 15px;
  gap: 20px;
}
.rate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  border: 1px solid #087dbf;
  padding: 5px;
  min-width: 77px;
}
.rate:hover {
  cursor: pointer;
}
.location-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  gap: 10px;
}
.filter-header {
  font-family: "firaGO";
  font-size: 24px;
  font-weight: 700;
  width: 100%;
}
.location {
  padding: 5px 20px;
  border: 1px solid #087dbf;
  border-radius: 10px;
  font-family: "inter";
  font-size: 20px;
}
.location:hover {
  cursor: pointer;
}
.filter-act {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px 20px 0;
  gap: 10px;
}
#clear {
  border: none;
  background-color: white;
  font-family: "firaGO";
  font-weight: 200;
  font-size: 24px;
  color: rgb(110, 110, 110);
}
#filterButton {
  border: 1px solid #087dbf;
  background-color: white;
  font-family: "firaGO";
  font-size: 24px;
  padding: 5px 10px;
  border-radius: 10px;
}
.filter-act button:hover {
  cursor: pointer;
}
.company-container {
  width: calc(100% - 280px);
  margin: 0 auto;
  background-color: #efefef;
  border-radius: 30px 30px 0 0;
  /* position: relative; */
  min-height: 450px;
}
.cover-img {
  width: 100%;
  position: relative;
}
.cover-img img {
  width: 100%;
}
.profile {
  width: calc(100% - 274px);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-left: auto;
  align-items: baseline;
}
.company-container .send-message {
  margin: 0;
}
.profile-pic {
  position: absolute;
  left: 20px;
  top: 100%;
  transform: translateY(-50%);
  object-fit: cover;
}
.profile-pic img {
  height: 234px;
  width: 234px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-bold {
  font-family: "poppins";
  font-size: 40px;
  font-weight: 700;
}
.location-light {
  font-family: "poppins";
  font-weight: 400;
  color: #50505080;
}
.about-us {
  width: calc(100% - 280px);
  background-color: #efefef;
  margin: 40px auto;
}
.about-header {
  font-family: "poppins";
  font-size: 32px;
  font-weight: 700;
}
.about-text {
  width: 90%;
  font-size: 27px;
}
.about-us > div {
  padding: 20px;
}
.vacancies {
  width: calc(100% - 280px);
  margin: 0 auto;
  font-family: "poppins";
  font-size: 24px;
  margin-bottom: 100px;
  border-radius: 0 0 30px 30px;
}
.vacancies table {
  width: 100%;
  border-collapse: collapse;
  outline: 0.5px solid black;
  border-radius: 0 0 30px 30px;
}
.vacancies th,
td {
  border-bottom: 0.5px solid black;
  width: 20%;
  text-align: center;
  padding: 10px;
}
.vacancies th:first-child,
td:first-child {
  text-align: left;
}
.vacancies th:last-child,
td:last-child {
  text-align: end;
}
.vacancies th {
  background-color: #087dbf;
  color: white;
  font-weight: 700;
}
.vacancies td {
  font-size: 18px;
  background-color: #efefef;
}
.vacancies p {
  font-family: "inter";
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
}
.vacancies tr:last-child td:last-child {
  border-radius: 0 0 30px 0;
}
.vacancies tr:last-child td:first-child {
  border-radius: 0 0 0 30px;
}
.vacancies tr:last-child td {
  border-bottom: none;
}
